body {
  background-color: #fff5d0;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
}

p {
  font-family: "Itim";
  font-size: 1.3rem;
  font-weight: 200;
  color: #323232;
  line-height: 2rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 1000px) {
  p {
    font-size: 1.17rem;
  }
}

h1 {
  font-family: "Itim";
  font-size: 2.4rem;
  font-weight: 200;
  color: #323232;
  line-height: 1.5rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2.16rem;
  }
}

h2 {
  font-family: "Itim";
  font-size: 1.8rem;
  font-weight: 200;
  color: #323232;
  line-height: 1.5rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 1000px) {
  h2 {
    font-size: 1.62rem;
  }
}

h3 {
  font-family: "Itim";
  font-size: 1.8rem;
  font-weight: 200;
  color: #323232;
  line-height: 1.5rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 1000px) {
  h3 {
    font-size: 1.62rem;
  }
}

a {
  font-family: "Itim";
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
  line-height: 2.5rem;
  letter-spacing: 1px;
  text-decoration: none;
}
@media screen and (max-width: 1000px) {
  a {
    font-size: 1.17rem;
  }
}

.center {
  text-align: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.disabled {
  background-color: rgb(96, 96, 96);
  cursor: not-allowed;
  opacity: 0.6;
}

.signOut {
  position: fixed;
  top: 0;
  right: 1em;
}

.framedContent {
  background-color: #fff8de;
  border: 2px solid #e3d9b0;
  border-radius: 10px;
  padding: 1em;
  margin-top: 2em;
}

input, select {
  padding: 0.5em 1em;
  font-family: "Itim";
  font-size: 1.3rem;
  font-weight: 200;
  color: #323232;
  line-height: 2rem;
  letter-spacing: 1px;
  background-color: #fff8de;
  border: 1px solid #e3d9b0;
  border-radius: 10px;
}
@media screen and (max-width: 1000px) {
  input, select {
    font-size: 1.17rem;
  }
}

form {
  margin: 4em auto;
  display: grid;
  gap: 1em;
  width: 100%;
  max-width: 400px;
}

.logo {
  margin: 8em auto;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 1em;
}
.logo .smileCircle {
  width: 100%;
  height: auto;
  animation: rotate 10s linear infinite;
}
.logo .smileFace {
  width: 35%;
  height: auto;
  position: absolute;
}

button,
.button {
  padding: 0.2em 1em;
  font-family: "Jomhuria";
  font-size: 43px;
  font-weight: 200;
  color: #ffffff;
  line-height: 2rem;
  letter-spacing: 1px;
  background-color: #d8a744;
  border: none;
  border-radius: 10px;
}
@media screen and (max-width: 1000px) {
  button,
  .button {
    font-size: 38.7px;
  }
}

button:hover {
  background-color: #1f1f1f;
}

.buttonBottom {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0.4em;
  right: 0.4em;
  padding-top: 1em;
  background-color: #fff5d0;
}

.navIcon {
  stroke: #e3d9b0;
  transition: transform 2s ease;
}

/* Valgt tilstand */
.navIcon.selectedPage {
  stroke: #d8a744;
  stroke-width: 2px;
  transform: translateY(-2.5px);
}

.selectedPage {
  stroke: #d8a744;
  stroke-width: 2px;
}

.selectedCharacter {
  width: 100%;
  height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectedCharacter .characterProfile {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.selectedCharacter .characterHomepage {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.character-selection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  margin-top: 20px;
}

.character {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: #fff8de;
  border: 2px solid #e3d9b0;
}

.character img {
  width: 65%;
  height: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20%;
  transition: transform 0.3s ease;
}

/* Hover-effekt */
.character img:hover {
  transform: scale(1.1);
}

/* Stil for den valgte karakter */
.selected {
  border: 2px solid green;
}

.selected img {
  transform: scale(1.1);
}

.moodBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
  background-color: #fff8de;
  border: 2px solid #e3d9b0;
  border-radius: 10px;
  padding: 2rem;
}
.moodBox img {
  border: none;
  border-radius: 0;
  width: 100%;
  height: auto;
  padding: 0;
  padding-top: 0.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s ease;
}

.homepage-msg {
  padding: 2rem;
}

.characterHomepage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem;
}

.home-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category-btn {
  display: flex;
  height: 2em;
  width: 2em;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 1px solid #e3d9b0;
  background-color: #fff8de;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
  aspect-ratio: 1;
}

.category-btn.active {
  background-color: #e3d9b0;
}

.filter-emoji {
  font-size: 20px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #d8a744;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
}

@media screen and (min-width: 1024px) {
  .character-selection {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
  .center .logo {
    margin: 3rem auto;
  }
  .moodBox {
    margin-top: 2rem;
    padding: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .moodBox img {
    padding-top: 1rem;
    width: 80%;
  }
}/*# sourceMappingURL=index.css.map */