@use './partials' as p;
// –––––––––––––––––––––––––––––––––––––––––––
// Global styles
// ––––––––––––––––––––––––––––––––––––––––––-
body {
 background-color: p.$color-background;
 box-sizing: border-box;
 overflow-x: hidden;
 margin-bottom: 10em;
 @media screen and (min-width: 600px) {
   padding: 1rem 2rem;
 }
 @media screen and (min-width: 800px) {
   padding: 1rem 4rem;
 }
 @media screen and (min-width: 1400px) {
   padding: 1rem 12rem;
 }
}




ul {
padding: 0;
margin: 0;
li {
  padding: 0;
  margin: 0;
}
}




p {
@include p.font-style("Itim", 24px, 200, p.$color-text-black, 2rem);
}
.pBig {
@include p.font-style("Itim", 3.3rem, 200, p.$color-text-black, 2rem);
}




h1 {
@include p.font-style("Itim", 40px, 200, p.$color-text-black, 2.5rem);
}




h2 {
@include p.font-style("Itim", 34px, 200, p.$color-text-black, 1.9rem);
}




h3 {
@include p.font-style("Itim", 27px, 200, p.$color-text-black, 1.5rem);
}




a {
@include p.font-style("Itim", 24px, 600, p.$color-text-white, 2.5rem);
text-decoration: none;
}
.center {
text-align: center;
justify-content: center;
}
.textCenter {
text-align: center;
}
.flex {
@include p.flex-container();
}
.flexSB {
@include p.flex-container(row, space-between);
}
.flexSA {
@include p.flex-container(row, space-around);
}
.grid {
display: grid;
}

.reverse {
  display: flex;
  flex-direction: column-reverse;
}


.gridToFlex-Box {
 @include p.responsive-grid(column-reverse, 3fr 1fr);
}


.gridToFlex-Box2 {
 @include p.responsive-grid(column, 3fr 2fr);
}




.disabled {
background-color: p.$color-disable;
cursor: not-allowed;
opacity: 0.6;
}


// Base-styling for indhold
.baseContent {
margin-top: 1em;
}


// Framed content
.framedContent {
@extend .baseContent; // Arver base-styling
padding: 1em;
background-color: p.$color-inputFill;
@include p.border(); // Giver en ramme
}


input, select {
padding: 0.5em 1em;
@include p.font-style("Itim", 1.3rem, 200, p.$color-text-black, 2rem);
background-color: p.$color-background;
@include p.border();
}


input:focus {
 border: 1px solid p.$color-secondary;
}


form {
margin: 4em auto;
display: grid;
gap: 1em;
width: 100%;
max-width: 400px;
}
.logo {
margin: 8em auto;
width: 150px;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
position: relative;
padding: 1em;
.smileCircle {
  width: 100%;
  height: auto;
  animation: rotate 10s linear infinite;
}
.smileFace {
  width: 35%;
  height: auto;
  position: absolute;
}
}


button {
 padding: 0.2em 1em;
 @include p.font-style("Jomhuria", 43px, 200, p.$color-text-white, 2rem);
 background-color: p.$color-secondary;
 border: none;
 border-radius: 10px;
 transition: all ease 0.3s;
 cursor: pointer;
 &:hover {
   letter-spacing: 2px;
 }
 @media screen and (min-width: 1024px) {
    padding: 0.3em 1.8em;
  }
}
.buttonBottom {
 position: relative;
 bottom: -2em; /* 2em fra bunden af forælderen */
}  


@keyframes rotate {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}


// –––––––––––––––––––––––––––––––––––––––––––
// Navigation
// ––––––––––––––––––––––––––––––––––––––––––-
nav {
display: flex;
justify-content: space-around;
position: fixed;
bottom: 0;
left: 0;
right: 0;
padding-top: 1em;
background-color: p.$color-background;
}


.navIcon {
stroke: #e3d9b0;
transition: transform 2s ease;
}


/* Valgt tilstand */
.navIcon.selectedPage {
stroke: p.$color-secondary;
stroke-width: 2px;
transform: translateY(-2.5px);
}
.selectedPage {
stroke: p.$color-secondary;
stroke-width: 2px;
}
// –––––––––––––––––––––––––––––––––––––––––––
// Welcome Message
// ––––––––––––––––––––––––––––––––––––––––––-
.containerWelcome {
 margin-top: 20vw;
 @media screen and (min-width: 1024px) {
   margin: 10vw 10em 0 10em;
 }
 @media screen and (min-width: 1300px) {
   margin: 10vw 20em 0 20em;
 }
 .framedContent {
   margin-top: 1em;
 }
}
 // –––––––––––––––––––––––––––––––––––––––––––
// Characters
// ––––––––––––––––––––––––––––––––––––––––––-
.selectedCharacter {
  width: 50%;
  height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 1000px) {
  height: 10em;
  }
  .characterProfile {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translateY(2em);
  }
  .characterHomepage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


.character-selection {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 2vw;
 justify-items: center;
 justify-content: center;
 margin-top: 5em;
 @media screen and (min-width: 1000px) {
     grid-template-columns: repeat(5, 1fr);
     gap: 20px;
     margin: 5em 4em 0 4em;
 }
 @media screen and (min-width: 1400px) {
   grid-template-columns: repeat(5, 1fr);
   gap: 20px;
   margin: 5em 8em 0 8em;
 }
}


.character {
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
width: 7em;
height: 7em;
cursor: pointer;
transition: transform 0.3s ease;
background-color: p.$color-inputFill;
@include p.border(50%);
}


.character img {
width: 65%;
height: 65%;
object-fit: cover;
border-radius: 20%;
transition: transform 0.3s ease;
}


/* Hover-effekt */
.character img:hover {
transform: scale(1.1);
}


/* Stil for den valgte karakter */
.selected {
border: 2px solid green;
}


.selected img {
transform: scale(1.1);
}


// –––––––––––––––––––––––––––––––––––––––––––
// Mood
// ––––––––––––––––––––––––––––––––––––––––––-
.containerMood {
  text-align: center;
  justify-content: center;
  .logo {
    margin: 5.5rem auto;
  }
}
.moodBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
  justify-items: center;
  margin-top: 20px;
  background-color: p.$color-inputFill;
  @include p.border();
  padding: 2rem;
  @media screen and (min-width: 1000px) {
    margin-top: 2rem;
    padding: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
 }
 img {
   border: none;
   border-radius: 0;
   width: 100%;
   height: auto;
   object-fit: contain;
   transition: transform 0.3s ease;
 }
}

// –––––––––––––––––––––––––––––––––––––––––––
// Homepage
// ––––––––––––––––––––––––––––––––––––––––––-
.homepage-msg {
margin: 1em;
}
.containerHomepage {
  transition: transform 1s ease-in; 
  &:hover {
    .characterHomepage {
      transform: translate(20vw) scale(1.2);
      transition: transform 1s ease-in-out;
    }
  }
}
.no-tasks {
  color: #00000094;
  font-size: 1.8em;
  text-align: center;
  }
  .characterHomepage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem;
  @media screen and (min-width: 1000px) {
   width: 100%;
   height: 100%;
   object-fit: contain;
  }
}


.home-quote {
display: flex;
justify-content: center;
align-items: center;
padding: 2rem;
text-align: center;
}


.latestAssignments {
display: grid;
grid-template-columns: repeat(1, 1fr);
gap: 10px;
max-width: 100vw;
  .task-item {
    display: flex;
    list-style: none;
    height: 5em;
  }
  .task-info {
    @include p.border(10px);
    display: flex;
    width: 100%;
  }
  .task-category {
    border-right: 1px solid p.$color-inputBorder;
    display: flex;
    width: 5em;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: p.$color-background;
    border-radius: 10px 0 0 10px;
  }
  .task-nameAndPoints {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
  }
}


// –––––––––––––––––––––––––––––––––––––––––––
// AddTask
// ––––––––––––––––––––––––––––––––––––––––––-
.add-task-container {
   position: relative;
   background-color: p.$color-inputFill;
   @include p.border();     
   width: 100%;     
   box-sizing: border-box;
   .assignment-selection{
   width: 80%;
   margin: 0 auto;
 }
 .chooseCategory, .choosePoints {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 10px;
   justify-items: center;
   justify-content: center;
   margin-top: 20px;
 }
}
.shutDown {
 position: absolute;
 right: 20px;
 top: 20px;
 font-size: 2em;
 transition: color 0.3s;
 &:hover {
   cursor: pointer;
   color: p.$color-secondary;
 }
}
.category {
 display: flex;
 height: 2em;
 width: 2em;
 justify-content: center;
 align-items: center;
 font-size: 1.5em;
 background-color: p.$color-background;
 cursor: pointer;
 transition: all 0.3s ease;
 aspect-ratio: 1;
 @include p.border(10px);
 &:hover {
   background-color: p.$color-inputBorder;
 }
 &.selected {
   border-color: p.$color-secondary;
   border: 3px solid p.$color-secondary;
 }
}
.points {
 @include p.border(10px);
 display: flex;
 height: 2em;
 width: 2em;
 justify-content: center;
 align-items: center;
 background-color: p.$color-background;
 cursor: pointer;
 transition: background-color 0.3s;
 aspect-ratio: 1;
 padding: 10px;
 &:hover {
   background-color: p.$color-inputBorder;
 }
 &.selected {
   border-color: p.$color-secondary;
   border: 3px solid p.$color-secondary;
 }
}
// –––––––––––––––––––––––––––––––––––––––––––
// Filter
// ––––––––––––––––––––––––––––––––––––––––––-
.category-buttons {
display: flex;
flex-wrap: wrap;
gap: 10px;
.filter-button {
  @include p.border(10px);
  display: flex;
  height: 2em;
  width: 2em;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background-color: p.$color-inputFill;
  cursor: pointer;
  aspect-ratio: 1;
  &.active {
   border: 2px solid p.$color-secondary;
  }
}
}
.addTaskButton {
 margin-bottom: 15px;
}

.last-done-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  max-width: 100vw;
  margin-bottom: 2em;
  @media screen and (min-width: 1000px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .task-item {
    display: flex;
    list-style: none;
    height: 5em;
  }
  .task-info {
    @include p.border(10px);
    display: flex;
    width: 100%;
  }
  .task-category {
    border-right: 1px solid p.$color-inputBorder;
    display: flex;
    width: 5em;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: p.$color-background;
    border-radius: 10px 0 0 10px;
  }
  .task-nameAndPoints {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100%;
  }
}

.task-list{
 @media screen and (min-width: 1400px) {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
 }
.task-item {
  display: flex;
  list-style: none;
  padding: 1em 0;
  justify-content: center;
  @media screen and (min-width: 1400px) {
   justify-content: left;
 }
}
.task-info {
  @include p.border(10px);
  display: flex;
  width: 100%;
  @media screen and (min-width: 1400px) {
   width: 80%;
 }
}
.task-category {
  border-right: 1px solid p.$color-inputBorder;
  border-radius: 10px 0 0 10px;
  background-color: p.$color-background;
  display: flex;
  width: 3em;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}
.task-nameAndPoints {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  width: 100%;
}
}
/* Definer animationen */
@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3); /* Flytter elementet til venstre */
  }
}

.task-actions {
  position: relative;

  .checkmark {
    color: #ffffff;
    font-size: 0.7em;
    margin-left: 10px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: p.$color-secondary;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, all 0.3s ease;
    /* Animation til knappen ved klik */
    &.clicked {
      position: relative;
      z-index: 5;
      animation: scale 0.5s ease-in-out; /* Kør animationen */
      background-color: transparent;
    }

    p {
      font-size: 2em;
      color: white;
    }
  }
}


// –––––––––––––––––––––––––––––––––––––––––––
// Level
// ––––––––––––––––––––––––––––––––––––––––––-
.level {
  border-radius: 8px;
  margin: 10px 0 5em 0;
  max-width: 100%;
  p {
    margin: 0;
    padding-left: 20px;
    color: #2c2c2c; /* Tekstfarve */
  }

  .container {
    @include p.border(10px);
    position: relative;
    background-color: p.$color-inputFill;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Sikrer at containeren fylder hele bredden */
    .lyn {
      font-size: 2em;
      padding-right: 10px;
    }
    p {
        z-index: 2;
        font-size: 20px;
        letter-spacing: 2px;
        color: p.$color-text-black; /* Farve for 10/1000 ⚡️ tekst */
    }
    .color {
      z-index: 1;
      position: absolute;
      height: 100%;
      background-color: p.$color-secondary; /* Grøn farve, kan ændres baseret på niveau */
      border-radius: 9px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.6s ease; /* Glidende overgang til hover-effekt */
      transition: width 0.3s ease-in-out; /* Glidende effekt når bredden ændres */
      &:hover {
        background-color: #a07845; /* Mørkere grøn ved hover */
    }
  }
 @media screen and (min-width: 800px) {
   padding: 10px 0;
 }
}


@media (max-width: 600px) {
  .level {
    max-width: 100%;
    padding: 10px;
  }
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
}
}
// –––––––––––––––––––––––––––––––––––––––––––
// Water
// ––––––––––––––––––––––––––––––––––––––––––-
.water-plus, .water-minus {
transform: translateY(30px);
font-size: 1.7em;
height: 2em;
width: 2em;
display: flex;  // Sørger for at knappen er en flex-container
align-items: center;  // Centrerer vertikalt
justify-content: center;  // Centrerer horisontalt
text-align: center;  // Sørger for tekst centering
background-color: p.$color-secondary;
color: p.$color-text-white;
cursor: pointer;
p {
  font-size: 1.2em;
  color: p.$color-text-white;
  margin: 0;  // Fjerner margin på <p> for at sikre, at den er korrekt centreret
}
}


.water-icon {
font-size: 3em;  // Sørger for at ikonet er synligt og på samme størrelse som knapperne
display: inline-block;  // Sørger for at ikonet placeres korrekt
}
// –––––––––––––––––––––––––––––––––––––––––––
// PointOverviewWeek
// ––––––––––––––––––––––––––––––––––––––––––-
.pointsOverviewWeek {
  display: flex;
  flex-direction: column;
  .container {
    .capsule {
      @include p.border(10px);
      position: relative;
      height: 6em;
      width: 2em;
      .color {
        position: absolute;
        bottom: 0;
        border-radius: 0 0 9px 9px;
        background-color: p.$color-secondary;
        width: 100%;
      }
    }
  }
}
.overviewDays {
  font-size: 18px;
}
//648
