@charset "UTF-8";
body {
  background-color: #FFF5D0;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
}

p {
  font-family: "Itim";
  font-size: 1.3rem;
  font-weight: 200;
  color: #323232;
  line-height: 2rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 1000px) {
  p {
    font-size: 1.17rem;
  }
}

h1 {
  font-family: "Itim";
  font-size: 2.8rem;
  font-weight: 200;
  color: #323232;
  line-height: 3.5rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 2.52rem;
  }
}

h2 {
  font-family: "Itim";
  font-size: 2rem;
  font-weight: 200;
  color: #323232;
  line-height: 1.5rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 1000px) {
  h2 {
    font-size: 1.8rem;
  }
}

h3 {
  font-family: "Itim";
  font-size: 1.8rem;
  font-weight: 200;
  color: #323232;
  line-height: 1.5rem;
  letter-spacing: 1px;
}
@media screen and (max-width: 1000px) {
  h3 {
    font-size: 1.62rem;
  }
}

a {
  font-family: "Itim";
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
  line-height: 2.5rem;
  letter-spacing: 1px;
  text-decoration: none;
}
@media screen and (max-width: 1000px) {
  a {
    font-size: 1.17rem;
  }
}

.center {
  text-align: center;
  justify-content: center;
}

input {
  padding: 0.5em 1em;
  font-family: "Itim";
  font-size: 1.3rem;
  font-weight: 200;
  color: #323232;
  line-height: 2rem;
  letter-spacing: 1px;
  background-color: #FFF8DE;
  border: 1px solid #E3D9B0;
  border-radius: 10px;
}
@media screen and (max-width: 1000px) {
  input {
    font-size: 1.17rem;
  }
}

button, .button {
  padding: 0.2em 1em;
  font-family: "Jomhuria";
  font-size: 43px;
  font-weight: 200;
  color: #ffffff;
  line-height: 2rem;
  letter-spacing: 1px;
  background-color: #d8a744;
  border: none;
  border-radius: 10px;
}
@media screen and (max-width: 1000px) {
  button, .button {
    font-size: 38.7px;
  }
}

button:hover {
  background-color: #1F1F1F;
}

.buttonBottom {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  margin: 4em auto;
  display: grid;
  gap: 1em;
  width: 100%; /* Får formularen til at fylde hele bredden */
  max-width: 400px; /* Sæt max-bredde til et mere passende niveau */
}

.logo {
  margin: 8em auto;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 1em;
}
.logo .smileCircle {
  width: 100%;
  height: auto;
  animation: rotate 10s linear infinite;
}
.logo .smileFace {
  width: 35%;
  height: auto;
  position: absolute;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.framedContent {
  background-color: #FFF8DE;
  border: 2px solid #E3D9B0;
  border-radius: 10px;
  padding: 1em;
  margin-top: 2em;
}

.character-selection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  margin-top: 20px;
}

.character {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: #FFF8DE;
  border: 2px solid #E3D9B0;
}

.character img {
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Hover-effekt */
.character img:hover {
  transform: scale(1.1);
}

/* Stil for den valgte karakter */
.selected {
  border: 2px solid green; /* Grøn ramme omkring valgte billede */
}

.selected img {
  transform: scale(1.1); /* Øger billedet en smule når valgt */
}

.moodBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  margin-top: 20px;
  background-color: #FFF8DE;
  border: 2px solid #E3D9B0;
  border-radius: 10px;
  padding: 2em;
}
.moodBox img {
  border: 3px solid #d8a744;
  border-radius: 100%;
  width: 40%;
  height: auto;
  padding: 1em;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}

.disabled {
  background-color: rgb(96, 96, 96);
  cursor: not-allowed;
  opacity: 0.6;
}/*# sourceMappingURL=index.css.map */