// –––––––––––––––––––––––––––––––––––––––––––
// Variabler
// ––––––––––––––––––––––––––––––––––––––––––-
$color-background: #fff5d0;
$color-secondary: #d8a744;
$color-inputFill: #fff8de;
$color-inputBorder: #e3d9b0;
$color-text-black: #323232;
$color-text-white: #ffffff;

// –––––––––––––––––––––––––––––––––––––––––––
// Mixins
// ––––––––––––––––––––––––––––––––––––––––––-
@mixin font-style($family, $size, $weight, $color, $line-height) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $line-height;
  letter-spacing: 1px;
  @media screen and (max-width: 1000px) {
    font-size: ($size) * 0.9;
  }
}

// –––––––––––––––––––––––––––––––––––––––––––
// Global styles
// ––––––––––––––––––––––––––––––––––––––––––-
body {
  background-color: $color-background;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 2rem 4rem;
  margin-bottom: 10rem;
}

p {
  @include font-style("Itim", 1.3rem, 200, $color-text-black, 2rem);
}

h1 {
  @include font-style("Itim", 2.4rem, 200, $color-text-black, 1.5rem);
}

h2 {
  @include font-style("Itim", 1.8rem, 200, $color-text-black, 1.5rem);
}

h3 {
  @include font-style("Itim", 1.8rem, 200, $color-text-black, 1.5rem);
}

a {
  @include font-style("Itim", 1.3rem, 600, $color-text-white, 2.5rem);
  text-decoration: none;
}
.center {
  text-align: center;
  justify-content: center;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}

.disabled {
  background-color: rgb(96, 96, 96);
  cursor: not-allowed;
  opacity: 0.6;
}

.signOut {
  position: fixed;
  top: 0;
  right: 1em;
}

.framedContent {
  background-color: $color-inputFill;
  border: 2px solid $color-inputBorder;
  border-radius: 10px;
  padding: 1em;
  margin-top: 2em;
}

input, select {
  padding: 0.5em 1em;
  @include font-style("Itim", 1.3rem, 200, $color-text-black, 2rem);
  background-color: $color-inputFill;
  border: 1px solid $color-inputBorder;
  border-radius: 10px;
}

form {
  margin: 4em auto;
  display: grid;
  gap: 1em;
  width: 100%; 
  max-width: 400px; 
}
.logo {
  margin: 8em auto;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 1em;
  .smileCircle {
    width: 100%;
    height: auto;
    animation: rotate 10s linear infinite;
  }
  .smileFace {
    width: 35%;
    height: auto;
    position: absolute;
  }
}

.button, button {
  padding: 0.2em 1em;
  @include font-style("Jomhuria", 43px, 200, $color-text-white, 2rem);
  background-color: $color-secondary;
  border: none;
  border-radius: 10px;
}
button:hover {
  background-color: #979797;
}
.buttonBottom {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// –––––––––––––––––––––––––––––––––––––––––––
// Navigation
// ––––––––––––––––––––––––––––––––––––––––––-
nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0.4em;
  right: 0.4em;
  padding-top: 1em;
  background-color: $color-background;
}

.navIcon {
  stroke: #e3d9b0;
  transition: transform 2s ease; 
}

/* Valgt tilstand */
.navIcon.selectedPage {
  stroke: $color-secondary; 
  stroke-width: 2px; 
  transform: translateY(-2.5px); 
}
.selectedPage {
  stroke: $color-secondary; 
  stroke-width: 2px;
}

// –––––––––––––––––––––––––––––––––––––––––––
// Characters
// ––––––––––––––––––––––––––––––––––––––––––-

.selectedCharacter {
  width: 100%;
  height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  .characterProfile {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .characterHomepage {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.character-selection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  justify-content: center;
  margin-top: 20px;
}

.character {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: $color-inputFill;
  border: 2px solid $color-inputBorder;
}

.character img {
  width: 65%;
  height: 65%;
  object-fit: cover;
  border-radius: 20%;
  transition: transform 0.3s ease;
}

/* Hover-effekt */
.character img:hover {
  transform: scale(1.1);
}

/* Stil for den valgte karakter */
.selected {
  border: 2px solid green; 
}

.selected img {
  transform: scale(1.1); 
}

// –––––––––––––––––––––––––––––––––––––––––––
// Mood
// ––––––––––––––––––––––––––––––––––––––––––-
.moodBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
  background-color: $color-inputFill;
  border: 2px solid $color-inputBorder;
  border-radius: 10px;
  padding: 2rem;
  
  img {
    border: none;
    border-radius: 0;
    width: 100%;
    height: auto;
    padding: 0;
    padding-top: .5rem;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
}

// –––––––––––––––––––––––––––––––––––––––––––
// Homepage
// ––––––––––––––––––––––––––––––––––––––––––-

.homepage-msg {
  padding: 2rem;
}

.characterHomepage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem;
}

.home-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

// –––––––––––––––––––––––––––––––––––––––––––
// AddTask
// ––––––––––––––––––––––––––––––––––––––––––-
.add-task-container {
  border: 1px solid $color-inputBorder;
  background-color: $color-inputFill;
  position: absolute;
  width: 50vw;
}
.shutDown {
  position: absolute;
  right: 20px;
  top: 20px;
  &:hover {
    font-size: 1.2em;
    cursor: pointer;
  }
}
.category {
  display: flex; 
  height: 2em;
  width: 2em;
  justify-content: center;
  align-items: center;
  font-size: 1.5em; 
  border: 1px solid $color-inputBorder; 
  background-color: $color-inputFill; 
  border-radius: 100%; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  aspect-ratio: 1;
  &:hover {
    background-color: #f0f0f0;
  }

  &.selected {
    border-color: #388e3c; /* Mørkere grøn kant */
  }
}
.points {
  display: flex; 
  height: 2em;
  width: 2em;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-inputBorder; 
  background-color: $color-inputFill; 
  border-radius: 100%; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  aspect-ratio: 1;
  padding: 10px;
  &:hover {
    background-color: #f0f0f0;
  }

  &.selected {
    border-color: #388e3c; /* Mørkere grøn kant */
  }
}

// –––––––––––––––––––––––––––––––––––––––––––
// Filter
// ––––––––––––––––––––––––––––––––––––––––––-

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  .filter-button {
    display: flex; 
    height: 2em;
    width: 2em;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; 
    border: 1px solid $color-inputBorder; 
    background-color: $color-inputFill; 
    border-radius: 100%; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    aspect-ratio: 1;
  }
}

.circle {
  display: flex; 
  height: 2em;
  width: 2em;
  justify-content: center;
  align-items: center;
  font-size: 1em; 
  border: 1px solid $color-inputBorder; 
  background-color: $color-inputFill; 
  border-radius: 100%; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  aspect-ratio: 1;

}

.task-list {
  border: 1px solid $color-inputBorder; 
  background-color: $color-inputFill; 
  border-radius: 10px;
  max-width: 30vw;
  .task-item {
    display: flex;
    list-style: none;
    padding: 1em;
    justify-content: center;
  }
  .task-info {
    border: 1px solid $color-inputBorder; 
    border-radius: 10px;
    display: flex;
    width: 100vw;
  }
  .task-category {
    border-right: 1px solid $color-inputBorder;
    border-radius: 9px 0 0 9px;
    background-color: $color-background;
    display: flex;
    width: 4em;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }
  .task-nameAndPoints {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
    width: 100%;
  }
}
.checkmark {
  color: #388e3c;
  font-size: 1em;
  margin-left: 10px;
  display: flex; 
  height: 5em;
  width: 5em;
  justify-content: center;
  align-items: center;
  background-color: $color-secondary; 
  border: none;
  border-radius: 10px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  aspect-ratio: 1;
  &:hover {
    background-color: #c9ffcf;
    border-color: #6e9977;
  }
}
@media screen and (min-width: 1024px) {

  .buttonBottom {
    bottom: 1rem;
  }

  .character-selection {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  .center {
    .logo {
      margin: 3rem auto;
    }
  }

  .moodBox {
    margin-top: 2rem;
    padding: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;

    img {
      padding-top: 1rem;
      width: 80%;
    }
  }

}