// –––––––––––––––––––––––––––––––––––––––––––
// Variabler
// ––––––––––––––––––––––––––––––––––––––––––-
$color-background: #FFF5D0;
$color-secondary: #FECC66;
$color-inputFill: #FFF8DE;
$color-inputBorder: #E3D9B0;
$color-text-black: #1F1F1F;
$color-text-white: #ffffff; 

// –––––––––––––––––––––––––––––––––––––––––––
// Mixins
// ––––––––––––––––––––––––––––––––––––––––––-
@mixin font-style($family, $size, $weight, $color, $line-height) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $line-height;
  @media screen and (max-width:1000px) {
    font-size: ($size)*0.9;
  }
}

// –––––––––––––––––––––––––––––––––––––––––––
// Global styles
// ––––––––––––––––––––––––––––––––––––––––––-
body {
  background-color: $color-background;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden; 
}

p { 
  @include font-style("Itim", 1rem, 200, $color-text-black, 2rem);    
}

h1 {
  @include font-style("Itim", 2.8rem, 200, $color-text-black, 3.5rem);
}

h2 {
  @include font-style("Itim", 2rem, 200, $color-text-black, 1.5rem); 
}

h3 {
  @include font-style("Itim", 1.4rem, 200, $color-text-black, 1.5rem);
}

a {
  @include font-style("Itim", 1rem, 600, $color-text-white, 2.5rem);  
}
.center {
  text-align: center;
}

input {
  padding: 0.5em 1em;
  @include font-style("Itim", 1rem, 200, $color-text-black, 2rem);
  background-color: $color-inputFill;
  border: 1px solid $color-inputBorder;
  border-radius: 10px;
}

button {
  padding: 0.2em 1em;
  @include font-style("Jomhuria", 43px, 200, $color-text-white, 2rem);
  background-color: $color-secondary;
  border: none;
  border-radius: 10px;
}

form {
  margin: 4em auto;
  display: grid;
  gap: 1em;
  width: 100%; /* Får formularen til at fylde hele bredden */
  max-width: 400px; /* Sæt max-bredde til et mere passende niveau */
}
.logo {
  margin: 8em auto;
  width: 150px; 
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  padding: 1em;
  .smileCircle {
    width: 100%;
    height: auto;
    animation: rotate 10s linear infinite;
  }
  .smileFace {
    width: 35%;
    height: auto;
    position: absolute;
  }
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}